* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p.counter{
  position: fixed;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: #666;
  background: #F6F6F6;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 1.5rem 2.5rem;
  background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  color: white;
}

#myBar{

}

.progress-container {
    width: 100%;
    height: .25rem;
    /* background: rgba(180, 180, 180, .7); */
    position: fixed;
}

.progress-bar {
    height: .25rem;
    background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
  }

div.scroll-indicator {
    position: fixed;
    top: 50vh;
    transform: translate(-50%, -50%);
    right: 5vw;
    z-index: 99;
}

ul.scroll-list{
  list-style-type: none;
}

.white{
  background-color: white;
}

.circle{
  /* background-color: white; */
    width: .4rem;
    height: 1.2rem;
    border-radius: 5px;
    margin-top: .3rem;
    border: white 1px solid
}



/* section{
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  white-space: nowrap;
} */

header.banner{
  background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
  height: 50vh;
}



header.banner h1.welcome{
  padding-top: 4rem;
  /* border-radius: 12px; */
  font-size: 2.3rem;
  margin: 0;
  /* padding: 1.5rem; */
}

header.banner p{
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

.change-color{
  color: blue;
}


img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  /* visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms; */
}

img.more{
  max-width: 5%;
  border-radius: 0;
  box-shadow: none;
}

.section-show{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

p {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
}

h5{
  color: #666;
  padding: 0 2.5rem .2rem 2.5rem;
  font-weight: bold;
  font-size: 1.3rem;
}

ul.actors-ul{
  padding: 0 2.5rem 2.5rem;
  list-style-type: none;
  display: block;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

li{
  /* display: inline; */
}

/* &::-webkit-scrollbar {
  display: none;
} */

/* section{
  -webkit-overflow-scrolling: touch;
  flex-wrap: nowrap;
  overflow-x: auto;
} */

.container {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  -webkit-overflow-scrolling: touch;
  /* flex-wrap: nowrap; */
  overflow-x: auto;
}

.card {
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
  display: inline-block;
}

/* .groter{
  border-radius: 2px;
} */

/* button{
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  background-color: #666;
  border-radius: 15px;
  font-size: 1rem;
  color: white;
  padding: .5rem;
  font-family: 'Dosis', sans-serif;
  border: none;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
}

button:active{

} */



.container-content{
  transition: opacity 1.2s ease-in, max-height 1s ease-out;
    opacity: 0;
    max-height: 0rem;
    overflow: hidden;
    /* display: none; */
}

.container-content-clicked{
  opacity: 1;
  max-height: 32rem;
  overflow: hidden;
  /* display: block; */
}

.card:hover, .card:active {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}



.card:nth-child(2n) h1 {
  background-image: linear-gradient(to right, #c79081 0%, #dfa579 100%);
}

.card:nth-child(3n) h1 {
  background: linear-gradient(to right, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
}

.card:nth-child(4n) h1 {
  background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
}

.card:nth-child(5n) h1 {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.card:nth-child(6n) h1 {
  background-image: linear-gradient(120deg, #e14fad 0%, #f9d423 100%);
}
